
/* Import base */
@import url('/base/base_styles.css');
@import url('/base/responsive.css');
@import url('/base/variables.css');
/* Import componentes */
@import url('/components/buttons.css');
@import url('/components/hero.css');
@import url('/components/horarios.css');
@import url('/components/page_title.css');
@import url('/components/stats.css');
@import url('/components/testimonios.css');
@import url('/components/theme.css');
/* Import layout */
@import url('/layout/footer.css');
@import url('/layout/header.css');
/* Import pages */
@import url('/pages/about_section.css');
@import url('/pages/blog_section.css');
@import url('/pages/clases_section.css');
@import url('/pages/contact_section.css');
@import url('/pages/entrenadores_section.css');
@import url('/pages/faq_section.css');
@import url('/pages/map_section.css');
@import url('/pages/precios_section.css');


/* Container */
.container {
    width: 90%;
    max-width: var(--container-xl);
    margin: 0 auto;
    padding: 0 var(--spacing-4);
}

/* Utility classes */
.highlight {
    color: var(--color-primary);
}